{#def project, area, date, time #}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ project["name"] }}</title>
    <link rel="stylesheet" href="/static/picocss.2.0.6.indigo.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/htmx.1.9.12.min.js"></script>
</head>

<body>
    <header class="container" style="padding: 0">
        <Navigation project={project} area={area} date={date} time={time} />
    </header>
    <main id="main" class="container" hx-get="/content" hx-trigger="load, every 10s"
        hx-include="[name='id'], [name='key'], [name='area'], [name='date'], [name='time']">
        <div style="display: flex; justify-content: center; align-items: center;">
            <span aria-busy="true"></span>
        </div>
    </main>
</body>

</html>