<!DOCTYPE html>
<html lang="en" style="height:100%">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tensora Count</title>
    <link rel="stylesheet" href="/static/picocss.2.0.6.indigo.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/htmx.1.9.12.min.js"></script>
</head>

<body style="background:url('/static/bg.svg');background-size:cover;min-height: 100%">
    <main id="main" class="container"
        style="height: 750px;max-width: 400px;display:flex; flex-direction: column; justify-content:center; text-align:center;">
        <div><img src="/static/tensora_icon.svg" width="80" style="margin:30px" /></div>
        <article>
            <br>
            <h2>Tensora Count</h2>
            <br>
            <form action="/dashboard" method="get">
                <input type="text" name="id" placeholder="Project ID" aria-label="Project ID" autoComplete="project"
                    required />
                <input type="password" name="key" placeholder="Project Key" aria-label="Project Key"
                    autoComplete="current-password" required />
                <button type="submit">
                    Login
                </button>
            </form>
        </article>
    </main>
</body>

</html>