{#def title, chart, current, maximum, average, minimum, capacity, img_left, img_right, heatmap_left=None,
heatmap_right=None #}
<Row>
    <div class="grid">
        <Tile title="Current" value={current} capacity={capacity} />
        <Tile title="Maximum" value={maximum} capacity={capacity} />
        <Tile title="Average" value={average} capacity={capacity} />
        <Tile title="Minimum" value={minimum} capacity={capacity} />
    </div>
</Row>
<Row>
    <Chart html={chart} />
</Row>
<Row>
    <div class="grid">
        <article>
            <img src="{{ img_left }}" />
            {% set img_left_name = img_left.split("/")[-1] %}
            <p>{{ img_left_name }}</p>
        </article>
        <article>
            <img src="{{ img_right }}" />
            {% set img_right_name = img_right.split("/")[-1] %}
            <p>{{ img_right_name }}</p>
        </article>
    </div>
</Row>
<Row>
    <div class="grid">
        {% if heatmap_left %}
        <article>
            <img src="{{ heatmap_left }}" />
        </article>
        {% endif %}
        {% if heatmap_right%}
        <article>
            <img src="{{ heatmap_right }}" />
        </article>
        {% endif %}
    </div>
</Row>