{#def project, data, chart, images, densities={} #}

<Row>
    <Tile title="Current" value={data['total'][-1]} />
    <Tile title="Maximum" value={data['total'].max()} />
    <Tile title="Average" value={data['total'].mean() | int} />
    <Tile title="Minimum" value={data['total'].min()} />
</Row>
<Row>
    <Chart html={chart} />
</Row>

{% for area_name, ids in images.items() %}
<h2>{{ area_name }}</h2>
<Row>
    <Heatmap html={densities[area_name]} />
</Row>
<Row>
    {% for id in ids %}
    <Photo src={"https://tensoracountstorage.blob.core.windows.net/images/" + id + "_small.jpg" } />
    {% endfor %}
</Row>
{% endfor %}