{#def project, data, chart #}

<Row>
    <Tile title="Current" value={data['total'][-1]} />
    <Tile title="Maximum" value={data['total'].max()} />
    <Tile title="Average" value={data['total'].mean() | int} />
    <Tile title="Minimum" value={data['total'].min()} />
</Row>
<Row>
    <Chart html={chart} />
</Row>